<% if @home_user %>
<div class="col-md-11 col-md-offset-1">
	<div class="box box-info ">
		<div class="box-header">
			<h1 class="box-title">
				公开目录
			</h1>
			<div class="box-tools pull-right">
			</div>
		</div>
		<div class="box-body">
			<div class="list-group">
			<% @public_folders.each do |f| %>
				<a href="<%= folder_path(f) %>" class="list-group-item <%= 'active' if @cur_folder == f %>" >
					<i class="fa <%= f.folder_type.image_path %>"></i> <span><%= f.name %></span>
				</a>
			<% end -%>
			</div>
		</div>
		<div class="box-footer">
			
		</div>
	</div>
</div>
<% end %>

