<div class="col-md-9">
	<div class="box box-info ">
		<div class="box-header">
			<h1 class="box-title big-title">
				检索
			</h1>
			<div class="box-tools pull-right">
			</div>
		</div>
		<div class="box-body">
			<form action="#" method="post" class="sidebar-form">
				<div class="input-group">
					<input type="text" name="q" class="form-control" placeholder="检索用户文档" style="color: rgb(244, 244, 252);"/>
					<span class="input-group-btn">
						<button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</form>
		</div>
		<div class="box-footer">
			
		</div>
	</div>
</div>