<% unless @user %>
<div class="col-md-9">
	<div class="box box-info ">
		<div class="box-header">
			<h1 class="box-title big-title">
				推荐文章
			</h1>
			<div class="box-tools pull-right">
			</div>
		</div>
		<div class="box-body">
			aaadf
		</div>
		<div class="box-footer">
			
		</div>
	</div>
</div>
<% end %>