<div class="user-panel">
	<div class="pull-left image">
		<%= gravatar_for @user %>
	</div>
	<div class="pull-left info">
		<p>你好，	<%= @user.username %></p>
		<a href="#"><i class="fa fa-male text-success"></i> 教师</a>
	</div>
</div>