<div class="ui-box">
	<div class="title clearfix">
		<%= search_field_tag :filter_projects, nil, placeholder: 'Filter by name', class: 'dash-filter'%>
		<span class="pull-right">
			<%= link_to "#" ,class:"btn btn-new" do%>
			<i class="icon-plus"></i>新建目录
			<%end%>
		</span>
	</div>
	<ul class="well-list dash-list">
		<% folders.each do |folder|%>
		<li class="project-row">
			<%=link_to "#",class:"project" do%>
			<span class="namespace-name">系统默认</span>
			<span class="project-name filter-title"><%=folder%></span>
			<span class="arrow"><i class="icon-angle-right"></i></span>
			<span class="last-activity"><span>用于：</span><span class="data">保存用户成果</span></span>
			<%end%>
		</li>
		<%end%>
	</ul>
</div>

