<div class="my_data">
	<li class="data_follow">0<span>关注数</span></li>
	<li class="data_fans">0<span>粉丝数</span></li>
	<li class="data_post">2<span>发布数</span></li>
	<div class="clear"></div>
</div>

<div class="my_location">
	<div class="my_login">目录结构<span>2个目录</span></div>
	<div class="my_site">我的成果</div>
	<div class="my_site">我的笔记</div>
</div>
<div class="my_location">
	<div class="my_login">涉及学科<span>2个学科</span></div>
	<div class="my_site">计算机科学与技术</div>
	<div class="my_site">图书馆</div>
</div>

<div class="menu_sc" id="search">
	<input type="button" class="btn" value="搜索" onclick="tag_search()">
	<input type="text" id="searchtag" value="搜索标签,发现兴趣" class="ipt">
</div>



<div id="ad_theme_aside"></div>