<ul class="nav nav-tabs dash-sidebar-tabs">
	<li class="active">
		<%= link_to "我的目录", '#folders',:data => {:toggle=>"tab"},:id=>"sidebar-projects-tab"%>
	</li>
	<li>
		<%= link_to "我的组", '#groups',:data => {:toggle=>"tab"},:id=>"sidebar-projects-tab"%>
	</li>
</ul>
<div class="tab-content">
	<div id="folders" class="tab-pane active">
		<%= render "folders", folders: @folders %>
	</div>
	<div id="groups" class="tab-pane">
		<%= render "groups", groups: @groups %>
	</div>
</div>
