<div id="index" class="dashboard row-fluid">
	<div id="article" class="ctivities  span7">
		<%= render 'show_post' %>
		<div id="avatar">
			<li>
				<a href="#" title="我的博客">
					<div class="head_bg">
						<%= image_tag("face.jpg", :class => "face") %>
					</div>
				</a>
			</li>
			<li>
				<div class="blog_name">马胜的个人空间</div>		
			</li>
			
			
		</div>

		<div id="feedArea">
			<div id="feed_loading"></div>
			<div id="feed_box">
				<div class="box" id="blog_7"> 
					<div class="date">
						<div class="month">
							2013.09
						</div>
						<div class="day">
							EI
						</div>
					</div>
					<div class="title" id="box_title">
						<h1>
							<a href="#">MPI语言绑定：MPI-Delphi，MPI-Java与MPI-Ruby
							</a>
						</h1>
					</div> 
						<div id="feedText_7" class="content">
						 <div class="text_area_all">        	 
						 </div> 
						</div>  
						<div class="footer"> 
							<div class="fun">  
								<span class="delete">
									<a href="#" onclick=""title="删除">
									</a>
								</span>   
								<span class="edit">
									<a href="#" title="编辑">
									</a>
								</span>
								<span class="reply"> 
									<a href="#" onclick="" id="comment_btn_9" title="回复"> 
										<em>
											1
										</em> 
									</a> 
								</span>
								<span class="hotnum"> 
									<a href="#" onclick="" title="热度" id="hid_btn_9"> 
										<em>
											1
										</em>
									</a> 
								</span>   
							</div> 
						</div> 
						<div class="clear">
						</div> 
						<div id="feeds_7" class="none">
						 <div class="reply_list">
						  <div id="hit_loading_7" class="sf_loading">
						  </div> 
						</div> 
						<div id="feeds_paging_7" class="paging">
						</div> 
					</div>  
					<div class="clear">
					</div> 
				</div>
				<div class="box" id="blog_6"> 
					<div class="date">
						<div class="month">
							2013.09
						</div>
						<div class="day">
							SCI
						</div>
					</div>
					<div class="title" id="box_title">
						<h1>
							<a href="">基于RoR的高校学生信息管理系统的设计与实现
							</a>
						</h1>
					</div> 
						<div id="feedText_7" class="content">
						 <div class="text_area_all">  
						 	<div id="imagelist_1_a" class="imagelist">
						 		<div class="imglist_big img_top" style="display:none;">
						 		</div> 
						 		<div class="img_top">
						 		 <li> 
						 		 	<a href="javascript:void(0)">
						 		 		<img degree="0" src="" title="">
						 		 	</a> 
						 		 </li> 
						 		</div> 
						 	</div>          	 
						 </div> 
						</div>  
						<div class="footer"> 
						 <div class="fun">  
						 	<span class="delete">
						 		<a href="#" onclick=""title="删除">
						 		</a>
						 	</span>   
						 	<span class="edit">
						 		<a href="#" title="编辑">
						 		</a>
						 	</span>    
						 </div> 
						</div> 
						<div class="clear">
						</div> 
						<div id="feeds_7" class="none">
						 <div class="reply_list">
						  <div id="hit_loading_7" class="sf_loading">
						  </div> 
						</div> 
						<div id="feeds_paging_7" class="paging">
						</div> 
					</div>  
					<div class="clear">
					</div> 
				</div>
			</div>
		</div>
		<div id="paging"></div>
		<div class="clear"></div>
	</div>
	<div id="aside" class="side span4 offset1">
		<%= render 'show_sidbar' %>
	</div>
</div>