<% provide(:title, '用户空间') %>
<% provide(:bgclass, 'skin-black') %>
<div class="row">
	<br>
	<br>
	<br>
</div>
<div class="row opacity95">
	<% if session[:view_pubu] == 'pubu' %>
		<%= render :partial => '/shared/front/pubu_view',locals: {docs: @docs}%>
	<% else %>
		<%= render :partial => '/shared/front/list_view',locals: {docs: @docs}%>
	<% end %>
	
</div>
	<%= paginate @docs %>
    <%= javascript_include_tag "inscroll", "data-turbolinks-track" => true %>
