<% provide(:title, '用户空间') %>
<% provide(:bgclass, 'skin-black') %>
<div class="row">
	<br>
	<br>
	<br>
</div>
<div class="row opacity95">
	<div class="col-md-7" id="doc_container">
		<%= render :partial => 'doc',:collection => @docs%>
	</div>
	<div class="col-md-5">
		<div class="col-md-9">
			<div class="box box-info ">
				<div class="box-header">
					<h1 class="box-title big-title">
						检索
					</h1>
					<div class="box-tools pull-right">
					</div>
				</div>
				<div class="box-body">
					aaadf
				</div>
				<div class="box-footer">
					
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="box box-info ">
				<div class="box-header">
					<h1 class="box-title big-title">
						公开目录
					</h1>
					<div class="box-tools pull-right">
					</div>
				</div>
				<div class="box-body">
					aaadf
				</div>
				<div class="box-footer">
					
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="box box-info ">
				<div class="box-header">
					<h1 class="box-title big-title">
						标签云
					</h1>
					<div class="box-tools pull-right">
					</div>
				</div>
				<div class="box-body">
					aaadf
				</div>
				<div class="box-footer">
					
				</div>
			</div>
		</div>
	</div>
</div>
<%= paginate @docs %>


<%= javascript_include_tag "inscroll", "data-turbolinks-track" => true %>