<% provide(:title, '用户空间') %>
<% provide(:bgclass, 'skin-black') %>
<aside >                
	<section class="content-header">
		<h1>
			马胜的空间
			<small></small>
		</h1>
	</section>
	<section>
	</section>
</aside>

<%= javascript_include_tag "picback", "data-turbolinks-track" => true %>