<% provide(:title,'home') %>

<div class="home_suggest_topics">
  <div class="high_likes_topics box">
  <h2 class="title">高分文档</h2>
  <ul>
      <li>
        testsdfasdfasdfasdfasdf
        <span class="count">20 人喜欢</span>
      </li>
      <li>
        testasdfasdfasdfasdf
        <span class="count">20 人喜欢</span>
      </li>
      <li>
        testasdfasdfasdfasdf
        <span class="count">20 人喜欢</span>
      </li>
      <li>
        testasdfasdfasdfasdfsadf
        <span class="count">20 人喜欢</span>
      </li>
<li>
        testsdfasdfasdfasdfasdf
        <span class="count">20 人喜欢</span>
      </li>
      <li>
        testasdfasdfasdfasdf
        <span class="count">20 人喜欢</span>
      </li>
      <li>
        testasdfasdfasdfasdf
        <span class="count">20 人喜欢</span>
      </li>
      <li>
        testasdfasdfasdfasdfsadf
        <span class="count">20 人喜欢</span>
      </li>
  </ul>
  </div>
 <div class="high_replies_topics box">
  <h2 class="title">最新文档</h2>
  <ul>
      <li>
        test
        <span class="count">20 人喜欢</span>
      </li>
      <li>
        test
        <span class="count">20 人喜欢</span>
      </li>
      <li>
        test
        <span class="count">20 人喜欢</span>
      </li>
      <li>
        test
        <span class="count">20 人喜欢</span>
      </li>
<li>
        testsdfasdfasdfasdfasdf
        <span class="count">20 人喜欢</span>
      </li>
      <li>
        testasdfasdfasdfasdf
        <span class="count">20 人喜欢</span>
      </li>
      <li>
        testasdfasdfasdfasdf
        <span class="count">20 人喜欢</span>
      </li>
      <li>
        testasdfasdfasdfasdfsadf
        <span class="count">20 人喜欢</span>
      </li>
  </ul>
  </div>


<div id="sections" class="box">
    <h2>分学科导航</h2>
    <ul>
        <li>
            <label>一级学科</LABEL>
            <span class="nodes">
                <a>二级学科</a>
                <a>二级学科</a>
                <a>二级学科</a>
            </span>
        </li>
        <li>
            <label>一级学科</LABEL>
            <span class="nodes">
                <a>二级学科</a>
                <a>二级学科</a>
                <a>二级学科</a>
            </span>
        </li>
        <li>
            <label>一级学科</LABEL>
            <span class="nodes">
                <a>二级学科</a>
                <a>二级学科</a>
                <a>二级学科</a>
            </span>
        </li>
    </ul>
</div>
<div id="sections" class="box">
    <h2>分机构导航</h2>
    <ul>
        <li>
            <label>天津大学</LABEL>
            <span class="nodes">
                <a>计算机学院</a>
                <a>精密仪器与光电子学院</a>
                <a>机械学院</a>
            </span>
        </li>
        <li>
            <label>南开大学</LABEL>
            <span class="nodes">
                <a>理学院</a>
                <a>商学院</a>
                
            </span>
        </li>
        
    </ul>
</div>


</div>


