<% provide(:title, '用户空间') %>
<% provide(:bgclass, 'skin-black') %>
<div class="row">
	<br>
	<br>
	<br>
</div>

<section class="content col-md-8 col-md-offset-2 opacity95">

	<div class="error-page">
		<h2 class="headline text-info"> 404</h2>
		<div class="error-content">
			<h3><i class="fa fa-warning text-yellow"></i> 似乎没有这个页面哦！</h3>
			<p>
				大哥，回去看看别的吧。
				<a href='/' class="btn btn-info">返回首页</a>
			</p>
		</div><!-- /.error-content -->
	</div><!-- /.error-page -->

</section>