<li class="dropdown messages-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-envelope"></i>
        <span class="label label-success" id="head_message_num">0</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">您有<code id="head_message_num2">0</code> 条最新消息</li>
        <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu" id="ul_head_message">
            </ul>
        </li>
        <li class="footer"><a href="#">See All Messages</a></li>
    </ul>
</li>