<% if !properties.blank? %>
<% for item in properties %>
<div class="form-group callout callout-<%= item.get_input_color %> ">
	<%= raw get_property_form_view(item,document) %>
</div>
<% end %>
<% else %>
<% end %>
