<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title"><i class="fa fa-table"></i><%= @document.title + '访问权限' %></h4>
</div>
<%= form_for @document,url: config_permission_admin_document_path(@document),html: {role: "form",class: "form_w_val"}  do |f| %>
<div class="modal-body">
	<%= render partial: "shared/admin/sel_permission", locals: {permission: @document.permission,user: @user} %>
</div>
<div class="modal-footer clearfix">
	<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>关闭</button>
	<button type="submit" class="btn btn-success pull-left" onclick: "if($(this).closest('form').valid() == false){return false;}"><i class="fa fa-save"></i> 保存</button>
</div>
<% end %>