<ul class="nav nav-tabs " id="config_folder_nav">

	<li class="active"><a href="#"><%= yield(:tab_one) %></a></li>
	<li><a href="#">文档属性</a></li>
	<li><a href="#">文档视图</a></li>
	<li><a href="#">访问权限</a></li>
	<li><a href="#">文档状态</a></li>
	<li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			继承与投稿<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#">继承与投稿的开放范围</a></li>
			<li><a href="#">属性的继承权限</a></li>
		</ul>
	</li>
</ul>
