<div class="mailbox row">
	<div class="col-xs-12">
		<div class="box box-solid">
			<div class="box-body">
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<a class="btn btn-block btn-primary" data-toggle="modal" data-target="#compose-modal"><i class="fa fa-pencil"></i> 新笔记</a>

						<div style="margin-top: 15px;">
							<ul class="nav nav-pills nav-stacked">
								<li class="header">
									<form action="#" class="text-right">
										<div class="input-group">                                                            
											<input type="text" class="form-control input-sm" placeholder="检索笔记内容">
											<div class="input-group-btn">
												<button type="submit" name="q" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
											</div>
										</div>                                                     
									</form>
								</li>
								<% documents.each do |doc| %>
								<li><a href="#"><i class="fa fa-folder"></i> <%= doc.title %></a></li>
								<% end %>
								<li class="active"><a href="#"><i class="fa fa-inbox"></i> Inbox (14)</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-9 col-sm-8">
						<%= render partial: "admin/documents/form", locals: {document: document,properties: properties,user: @user} %>
					</div>
				</div>
			</div>
			<div class="box-footer clearfix">
				<%= paginate @documents, :theme => 'twitter-bootstrap-3' %>
			</div>
		</div>
	</div>
</div>
<%= render partial: "admin/documents/select_property_list", locals: {document: document} %>