<footer class="footer">
  <small>
   <a href="http://lib.tju.edu.cn/"><%=t("common.created") %> </a>
    by machine
  </small>
  <nav>
    <ul>
      <li><%= link_to t("common.about"),   "#" %></li>
      <li><%= link_to t("common.help"), "#" %></li>
      <li><%= link_to t("common.contact"), "#" %></li>
    </ul>
  </nav>
</footer>
